@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff");
  /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 98vw;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: right;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.play-list {
  text-align: left;
  padding: 0 10px;
  max-height: 20vh;
  overflow-y: auto;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
  margin: 0 8px 0;
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  min-height: 180px;
  text-align: left;
  background: rgba(4, 4, 4, 0.5);
  box-shadow: 0 0 20px 0 #000a;
  padding: 20px;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.audio-player {
  min-height: 75px;
  width: 350px;
  background: rgba(4, 4, 4, 0.5);
  box-shadow: 0 0 20px 0 #000a;
  font-family: arial;
  color: white;
  overflow: hidden;
  display: grid;
  grid-template-rows: 6px auto;
}

.audio-player * {
  font-size: 1em;
}

.audio-player .timeline {
  background: white;
  width: 100%;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #0008;
}

.audio-player .timeline .progress {
  background: #C5B358;
  width: 0%;
  height: 100%;
  transition: 0.25s;
}

.audio-player .controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 10px;
  min-height: 50px;
}

.audio-player .controls>* {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-player .controls .time {
  display: flex;
}

.audio-player .controls .time>* {
  padding: 2px;
}

.audio-player .controls .volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.audio-player .controls .volume-container .volume-button {
  height: 26px;
  display: flex;
  align-items: center;
}

.audio-player .controls .volume-container .volume-button .volume {
  transform: scale(0.7);
}

.audio-player .controls .volume-container .volume-slider {
  position: absolute;
  left: -3px;
  z-index: -1;
  width: 0;
  height: 15px;
  background: white;
  box-shadow: 0 0 20px #000a;
  transition: 0.25s;
}

.audio-player .controls .volume-container .volume-slider .volume-percentage {
  background: #C5B358;
  height: 100%;
  width: 75%;
}

.audio-player .controls .volume-container:hover .volume-slider {
  left: -123px;
  width: 120px;
}

.options-button {
  position: absolute;
  bottom: 5vh;
  right: 20px;
}

.options {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: -3vh;
  right: 60px;
  padding: 20px;
  min-width: 30vw;
  background: rgba(4, 4, 4, 0.5);
  font-size: 1em;
  text-align: left;
  transition: 1s linear;
}

.options.active {
  display: flex;
}

.options>span,
.options>select,
.options>input {
  width: 100%;
  height: 25px;
}

.options>span {
  margin-top: 15px;
}

.save-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}

.save-cancel>button {
  width: 100%;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.save-options {
  background-color: rgba(38, 226, 32, 1);
}

.cancel-options {
  background-color: rgba(231, 55, 31, 1);
}

.show-hide-group {
  margin-top: 15px;
  list-style-type: none;
  width: 100%;
}

.show-hide-group input {
  margin-right: 15px;
}

.to-do-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 75px;
  min-width: 200px;
  max-width: 40vw;
  background: rgba(4, 4, 4, 0.5);
  box-shadow: 0 0 20px 0 #000a;
  font-family: arial;
  color: white;
  max-height: 35vh;
  overflow-y: auto;
  padding: 20px;
}

.to-do-input {
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  width: 100%;
}

.to-do-buttons {
  display: flex;
  margin-bottom: 20px;
}

.to-do-add {
  cursor: pointer;
}

.to-do-delete {
  cursor: pointer;
  transform: scale(0.7);
}

.to-do-add:hover {
  transform: scale(1.1);
}

.to-do-delete:hover {
  transform: scale(0.8);
}

.to-do-buttons,
.to-do-list {
  width: 100%;
  text-align: left;
}

.to-do {
  list-style-type: none;
}

.to-do-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  padding: 5px;
  max-height: 30px;
}

.to-do-task.active {
  color: gray;
  text-decoration: line-through;
}

.is-done {
  transform: scale(1.2);
}

.to-do-task {
  font-size: 18px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}